/*------------ Margin Reset -------------*/

* {
  margin: 0;
}
/*------------ Margin Reset -------------*/

body {
  background-color: #f5f6f5;
}

.app {
  display: flex;
  justify-content: space-evenly;
}

.app_left {
  flex: 0.9;
}

.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

/*------------ Responsive  -------------*/
@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}
